* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.for__all-buttons:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.header {
  background: rgb(225, 255, 143);
  height: 800px;
  overflow: hidden;
  position: relative;
}
.header__star {
  position: absolute;
  top: -333px;
  right: -488px;
}
.header__star-two {
  position: absolute;
  left: 63px;
  top: 94px;
}
.header__star-three {
  position: absolute;
  left: 156px;
  top: 69px;
}
.header__star-four {
  position: absolute;
  right: 344px;
  bottom: 59px;
}
.header__star-five {
  position: absolute;
  right: 455px;
  bottom: 135px;
}
.header__stars-mob {
  display: none;
}
.header__text {
  padding-top: 196px;
}
.header__title {
  padding-bottom: 24px;
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
}
.header__title-mob {
  display: flex;
  gap: 20px;
}
.header__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  line-height: 32px;
}
.header__description-mob {
  display: none;
}
.header__button {
  margin-top: 48px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  height: 66px;
  width: 247px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 28px 16px 28px;
  background: rgb(32, 32, 39);
}

.section__about {
  background: rgb(32, 32, 39);
  position: relative;
  overflow: hidden;
}
.section__about-starone {
  position: absolute;
  right: -142px;
  top: 77px;
}
.section__about-starelleven {
  position: absolute;
  bottom: -970px;
  left: 25px;
}
.section__about-startwelve {
  position: absolute;
  bottom: -1022px;
  left: 40px;
}
.section__about-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  padding-top: 94px;
  padding-bottom: 24px;
}
.section__about-titlemob {
  display: none;
}
.section__about-text {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 72px;
}
.section__about-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}
.section__about-link {
  text-decoration: none;
}
.section__about-cards {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  width: 378px;
  gap: 32px;
}
.section__about-div1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  position: relative;
  overflow: hidden;
}
.section__about-div2 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
}

.section__cards-number {
  color: rgb(32, 32, 39);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 107px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
}

.section__cards-title {
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  padding-left: 32px;
  padding-right: 32px;
}

.section__cards-descriptionmob {
  display: none;
}

.section__cards-butttonmob {
  display: none;
}

.section__games {
  background: rgb(32, 32, 39);
  padding-bottom: 144px;
}
.section__games-six {
  position: absolute;
  right: 44px;
  top: 2390px;
}
.section__games-seven {
  position: absolute;
  right: 123px;
  top: 2360px;
}
.section__games-eight {
  position: absolute;
  right: 65px;
  top: 5636px;
}
.section__games-ten {
  position: absolute;
  top: 5684px;
  right: 150px;
}
.section__games-heading {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 64px;
  padding-top: 96px;
  padding-bottom: 72px;
}
.section__games-general {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.section__games-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.section__games-div {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
}
.section__games-description {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 0 48px 0 48px;
}
.section__games-title {
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 48px;
  padding-top: 48px;
  padding-bottom: 24px;
}
.section__games-text {
  color: rgb(32, 32, 39);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 36px;
}
.section__games-button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__text {
    padding-top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title-mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .header__description {
    font-size: 16px;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__description-mob {
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .header__description-desk {
    display: none;
  }
  .header__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .header__stars-mob {
    display: block;
  }
  .header__starmob-big {
    position: absolute;
    top: -103px;
    right: -112px;
  }
  .header__starmob-two {
    position: absolute;
    top: 97px;
    left: 37px;
  }
  .header__starmob-three {
    position: absolute;
    top: 64px;
    left: 91px;
  }
  .header__starmob-four {
    position: absolute;
    right: 34px;
    bottom: 79px;
  }
  .header__starmob-five {
    position: absolute;
    right: 86px;
    bottom: 125px;
  }
  .header__star {
    display: none;
  }
  .header__star-two {
    display: none;
  }
  .header__star-three {
    display: none;
  }
  .header__star-four {
    display: none;
  }
  .header__star-five {
    display: none;
  }
  .section__about {
    padding-bottom: 10px;
  }
  .section__about-starone {
    display: none;
  }
  .section__about-starelleven {
    display: none;
  }
  .section__about-startwelve {
    display: none;
  }
  .section__about-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 340px;
    overflow: hidden;
  }
  .section__about-title {
    display: none;
  }
  .section__about-titlemob {
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 700;
    font-size: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .section__about-text {
    display: none;
  }
  .section__about-div1 {
    display: flex;
    flex-direction: column;
  }
  .section__about-div2 {
    display: flex;
    flex-direction: column;
  }
  .section__cards-number {
    display: none;
  }
  .section__cards-title {
    padding-bottom: 16px;
    padding-left: 29px;
  }
  .section__cards-descriptionmob {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 16px;
    padding-left: 29px;
  }
  .section__cards-butttonmob {
    display: block;
    box-sizing: border-box;
    border-radius: 60px;
    border: 1px solid rgb(32, 32, 39);
    background: rgb(32, 32, 39);
    margin-bottom: 32px;
    width: 285px;
    height: 55px;
    margin-left: 29px;
    color: rgb(255, 255, 255);
  }
  .section__games {
    display: none;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */