* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background: rgb(225, 255, 143);
  width: 100%;
  max-width: 1440px;
  height: 800px;
}
.header__text {
  padding-top: 196px;
}
.header__title {
  padding-bottom: 24px;
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}
.header__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  line-height: 32px;
}
.header__button {
  margin-top: 48px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  height: 66px;
  width: 247px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 28px 16px 28px;
  background: rgb(32, 32, 39);
}

.section__about {
  background: rgb(32, 32, 39);
  max-width: 1440px;
}
.section__about-title {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  padding-top: 94px;
  padding-bottom: 24px;
}
.section__about-text {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 72px;
}
.section__about-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}
.section__about-cards {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  width: 378px;
  gap: 32px;
}

.section__cards-number {
  color: rgb(32, 32, 39);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 107px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 10px 16px;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
}

.section__cards-title {
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  padding-left: 32px;
  padding-right: 32px;
}

.section__games {
  background: rgb(32, 32, 39);
  padding-bottom: 144px;
}
.section__games-heading {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 64px;
  padding-top: 96px;
  padding-bottom: 72px;
}
.section__games-general {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.section__games-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.section__games-div {
  background: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
}
.section__games-description {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 0 48px 0 48px;
}
.section__games-title {
  color: rgb(32, 32, 39);
  font-weight: 700;
  font-size: 48px;
  padding-top: 48px;
  padding-bottom: 24px;
}
.section__games-text {
  color: rgb(32, 32, 39);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 36px;
}
.section__games-button {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */